@model Kodee_Assignment.Models.ViewModels.ForecastViewModel

<h2>Weather Forecast</h2>
<span>Please enter city, state, and/or zip code to retrieve forecast details.</span>
@using (Html.BeginForm("Forecast", "Weather"))
{

    <label>Address</label>
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Address, null, new { style = "color:red;" })

    <br />
    <input class="btn btn-primary" type="submit" />
}
