@model Kodee_Assignment.Models.ViewModels.ForecastViewModel
@{
    ViewBag.Title = "ForecastDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ForecastSearch")

@if (Model.cacheHit)
{
    <br />
    <div class="alert alert-success" role="alert">
        These weather details were pulled from our cache!
    </div>
}
<h2>Forecast Details</h2>
<p>Temperature unit is Fahrenheit.</p>
<label>Current temperature: </label>
@Html.DisplayTextFor(m => m.temp)

<label>Min temperature: </label>
@Html.DisplayTextFor(m => m.temp_min)

<label>Max temperature: </label>
@Html.DisplayTextFor(m => m.temp_max)

